* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
:root{
    --a:0;
}

/* --------------  NAV BAR  ----------------- */
nav {
    height: 64px;
    display: flex;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* ----------- NAV PART-1 ------------ */
.hamburger {
    display: none;
}

.nav-part {
    align-items: center;
}

.nav-part1 {
    gap: 22px;
    display: flex;
    margin-left: 25px;
}

.nav-search {
    /* border: 2px solid rgb(170, 170, 170); */
    border-radius: 55px;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15px;
    width: 420px;
    background-color: rgb(48, 48, 48);
}

.nav-search hr {
    height: 20px;
}

.nav-search input {
    border: none;
    background: transparent;
    outline: none;
    /* margin-right: 50px; */
    width: 200px;
    margin-right: 120px;
    font-family: "Poppins", serif;
    font-size: 14px;
    color: white;
}

.nav-search ::placeholder {
    color: rgb(205, 205, 205);
}

.nav-part {
    display: flex;
}

.logo img {
    height: 34px;
    /* filter: invert(); */
}

.home {
    background-color: rgba(42, 42, 42, 0.897);
    padding: 9px 10px;
    border-radius: 50%;
}

.home img {
    height: 27px;
}

.nav-search img {
    height: 26px;
}

/* ------------ NAV PART2 ----------- */
.nav-part2 {
    margin-right: 45px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-part2 button {
    border: none;
    background: transparent;
    color: rgb(205, 205, 205);
    font-size: 15px;
    font-family: "Poppins", serif;
}

.nav-part2 hr {
    height: 20px;
}

.install-app {
    display: flex;
    align-items: center;
    gap: 6px;
}

.install-app img {
    height: 17px;
}

.nav-part2-box1 {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.nav-part2-box2 {
    margin-left: 15px;
    display: flex;
    gap: 30px;
}

.login {
    padding: 10px 20px;
    background: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.login button {
    color: black;
}

.nav-part2-box1 {
    display: block;
}

.mode{
    background-color: white;
    height: 29px;
    width: 50px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.mode-circle{
    height: 27px;
    width: 27px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    left: 2%;
    transition: .4s all ;
    bottom: 1px;
}

/* ------------- CONTAINER ----------- */
.container {
    display: flex;
    height: 85vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    gap: 6px;
    justify-content: center;
    /* margin: 0px 7px; */
}

.container-part1 {
    background-color: rgb(19, 19, 19);
    width: 29%;
    border-top-right-radius: 5px;
    border-top-left-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-part2 {
    background-color: rgb(19, 19, 19);
    width: 69%;
    border-top-left-radius: 6px;
    border-top-right-radius: 7px;
}

.search {
    margin: auto;

}

.search {
    display: none;

}

.library-icon {
    position: absolute;
    color: rgb(205, 205, 205);
    right: 1px;
    font-size: 18px;
}

.your-library {
    display: flex;
    align-items: center;
    margin: 18px;
    gap: 6px;
    position: relative;
}

.your-library p {
    color: rgb(205, 205, 205);
    font-size: 15px;
    font-family: "Poppins", serif;
}

.your-library img {
    height: 25px;
}

.songlist {
    height: 78%;
    overflow: auto;
    scrollbar-color: rgb(96, 96, 96) rgb(30, 30, 30);
    scrollbar-width: thin;
}

.container-part2-box2 {
    scrollbar-color: rgb(96, 96, 96) rgb(30, 30, 30);
    scrollbar-width: thin;
}

.songlist ul li {
    display: flex;
    color: rgb(230, 229, 229);
    justify-content: space-between;
    margin: 10px 15px;
    padding: 17px 13px;
    border: 1px solid rgb(149, 149, 149);
    border-radius: 5px;
    align-items: center;
    font-family: "Poppins", serif;
    font-size: 14px;
    cursor: pointer;
}

.song-info {
    width: 210px;
    margin-left: 7px;
}

.songlist img {
    filter: invert(1);
}

.songlist {
    color: white;
}

/* ------------------------------- */

.container-part1-boxes {
    margin-top: 2px;
}

.container-part1-box {
    background-color: #1f1f1f;
    border-radius: 9px;
    height: 105px;
    margin: 22px 5px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.container-part1-box p {
    font-size: 14px;
    font-family: "Poppins", serif;
    color: rgb(192, 192, 192);
}

.container-part1-box button {
    border: none;
    background: transparent;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
}

.container-part1-box h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 222, 222);
}


/* ------------ container-part1-footer ---------- */

/* .container-part1-footer {
    position: absolute;
    bottom: 40px;
} */

.container-part1-footer-box1 {
    width: 80%;
    margin: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}

.container-part1-footer-box1 a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(171, 171, 171);
    font-family: "Poppins", serif;
    font-size: 11px;
}

.container-part1-footer-box2 {
    margin: 0px 10px;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.container-part1-footer-cookies {
    color: white;
    font-family: "Poppins", serif;
    font-size: 12px;
}

.container-part1-footer-lang {
    display: flex;
    align-items: center;
    gap: 6px;
    /* background-color: rgb(0, 0, 0); */
    border: 1px solid rgb(122, 122, 122);
    border-radius: 15px;
    width: 90px;
    justify-content: center;
    padding: 3px 0px;
    margin-top: 5px;
}

.container-part1-footer-lang img {
    height: 15px;
    filter: invert(1);
}

.container-part1-footer-lang p {
    font-size: 13px;
    color: white;
    font-family: "Poppins", serif;
}


/* -------------------- CONTAINER PART2 ------------ */
.container-part2 {
    position: relative;
}

.container-part2-box1 {
    display: flex;
    height: 78%;
    /* background-color: aqua; */
    flex-direction: column;
    margin: 22px 20px;
    gap: 7px;

}

.container-part2-box1 h1 {
    font-size: 22px;
    font-family: "Poppins", serif;
    color: white;
    font-weight: 600;
    margin-left: 14px;
}

.container-part2-box1-cards {
    justify-content: space-evenly;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow: auto;
}

.card1-img {
    width: 140px;
    height: 140px;
    /* border: 1px solid #000; */
    /* margin-bottom: 10px; */
    position: relative;
    top: 14px;
}
.play-button1{
    position: absolute;
    bottom: 93px;
    /* height: 39px; */
    right: 13px;
    /* filter: invert(1); */
    background-color: rgb(36, 236, 36);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    display: flex;
    opacity: var(--a);
    transition: .4s all
;
    justify-content: center;
    align-items: center;
}
.play-button1 img{
    height: 23px;
}


.card1 {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 158px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    /* position: relative; */
}

.card1:hover {
    background-color: rgba(121, 121, 121, 0.101);
    --a:1;
}

.card1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container-part2-box1 h2 {
    font-size: 15px;
    color: rgb(244, 242, 242);
    font-family: "Poppins", serif;
    position: absolute;
    left: 10px;
    bottom: 32px;
    font-weight: 400;
}

.container-part2-box1 p {
    font-size: 14px;
    color: rgb(175, 175, 175);
    font-family: "Poppins", serif;
    position: absolute;
    bottom: 11px;
    left: 10px;
    font-weight: 400;
}

.card2-img img {
    border-radius: 5px;
}

.card2 {
    height: 240px;
    cursor: pointer;
    position: relative;
}

.card2-footer {
    height: 200px;
    width: 90%;
}

.card2-footer-h2 {
    height: 40px;
    width: 90%;
}

.card2-footer-h2 h2 {
    position: unset;
    margin-top: 5px;
    font-size: 14px;
}

.card2-footer-h2 {
    height: 30px;
    width: 100%;
    position: unset;
    margin-top: 15px;
    word-break: break-all;
    overflow: hidden;

}

.card2-p p {
    display: flex;
    left: 10px;
    flex-wrap: wrap;
    font-weight: 400;
    overflow: hidden;
    position: unset;
    font-size: 13px;
    width: 100%;
}

.card2-p {
    height: 40px;
    overflow: hidden;
}

/* ------------------- PLAYBAR ----------------- */

.playbar {
    position: sticky;
    bottom: 0px;
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    /* border-radius: 10px; */
    /* border-top: 1px solid rgb(147, 147, 147); */
}


.playbar img {
    filter: invert(1);
    height: 25px;
}

.bar {
    width: 80%;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
}

.seekbar {
    border: 2px solid rgb(206, 204, 204);
    width: 100%;
    border-radius: 10px;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 9px;

}

.playbar-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 15px;
}

.play-buttons img {
    cursor: pointer;
}

.song-info1 {
    color: white;
    width: 40%;
    font-size: 12px;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.song-time {
    color: white;
    width: 87px;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-family: "Poppins", serif;
}

.container-part1-footer-box2 {
    margin-top: 8px;
}

.close {
    display: none;
}

.aboveBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    /* gap: 65px */
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.volume input {
    height: 3px;
    width: 90px;
    /* filter: invert(1); */
}

.volume-change {
    color: white;
    font-family: "Poppins", serif;
    font-size: 12px;
    width: 27px;
}

.aboveBar hr {
    height: 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 8px;
    position: relative;
}

.volume img {
    height: 20px;
}

.mute {
    position: relative;
    left: 0px;
    display: none;
}

/* --------------------- RESPONSIVENESS (1330) --------------- */
@media screen and (max-width: 1330px) {
    .song-time {
        color: white;
        width: 90px;
    }

    .aboveBar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }

    .aboveBar>.volume>img {
        height: 18px;
    }

    .logo img {
        height: 33px;
    }

    .nav-search input {
        margin-right: 0px;
    }

    .nav-search {
        width: 300px;
    }

    .nav-search img {
        height: 24px;
    }

    .nav-search input {
        font-size: 14px;
    }

    .home {
        padding: 9px 11px;
    }

    .home img {
        height: 24px;
    }

    .nav-part2 button {
        font-size: 14px;
    }

    .nav-part2-box2 {
        gap: 14px;
    }

    .nav-part2-box2 {
        margin-left: 5px;
    }

    .nav-part2-box1 {
        margin-right: 5px;
    }

    .install-app img {
        height: 14px;
    }

    .login {
        padding: 7px 13px;
    }

    .nav-part2 {
        margin-right: 20px;
    }

    .songlist ul li {
        font-size: 11px;
        /* gap: 8px; */
    }

    .song-info {
        width: 164px;
    }

    .songlist ul li img {
        height: 15px;
    }

    .play-now {
        font-size: 10px;
    }

    /* .card1 {
        width: 25%;
    } */

    .container-part2-box1-cards {
        gap: 0px;
        width: 100%;
        justify-content: space-evenly;
    }

    .container-part2-box1 h1 {
        font-size: 22px;
    }

    .song-info1 {
        font-size: 11px;
    }

    .song-time {
        font-size: 14px;
    }

    .container-part1-footer-box2 {
        margin-top: 8px;
    }

    .playbar {
        height: 75px;
    }

    .songlist ul li {
        padding: 17px 5px;
    }
}

@media screen and (max-width: 1200px) {
    .song-time {
        color: white;
        width: 60px;
    }

    .card2 {
        width: 350px;
    }

    .container-part1 {
        background-color: rgb(19, 19, 19);
        width: 385px;
    }

    .nav-part1 .logo {
        display: none;
    }

    .nav-part1 .home {
        display: none;
    }

    .nav-part1 .nav-search {
        display: none;
    }

    .container-part1 {
        position: absolute;
        left: -120%;
        z-index: 1;
        transition: all .3s;
    }

    .hamburger {
        display: block;
        filter: invert(1);
    }

    .container-part2 {
        background-color: rgb(19, 19, 19);
        width: 99%;
    }


    .nav-search {
        width: 90%;
    }

    .nav-search input {
        font-size: 11px;
    }

    .nav-search img {
        height: 18px;
    }

    .nav-search {
        gap: 8px;
    }

    .nav-part1 {
        gap: 13px;
    }

    .home {
        padding: 5px 8px;
    }

    .nav-search {
        padding: 6px 7px;
    }

    .logo img {
        height: 32.5px;
    }

    .home img {
        height: 22px;
    }

    .nav-part2 button {
        font-size: 11.5px;
    }

    .nav-part2 {
        margin-right: 22px;
    }

    .nav-part2-box1 {
        margin-right: -2px;
    }

    .nav-part2-box2 {
        margin-left: -2px;
    }

    .install-app img {
        height: 12px;
    }

    .nav-part2-box2 {
        gap: 8px;
    }

    .install-app {
        gap: 3px;
    }

    .nav-part1 {
        margin-left: 16px;
    }

    .your-library p {
        font-size: 13px;
    }

    .your-library img {
        height: 20px;
    }

    .song-info {
        width: 164px;
        font-size: 8px;
    }

    .songlist ul li img {
        height: 15px;
    }

    .songlist ul li {
        margin: 8px 8px;
        padding: 11px 6px;
    }

    .song-info {
        width: 52%;
        font-size: 8px;
    }

    .play-now {
        font-size: 8px;
    }

    .container-part1-footer-lang p {
        font-size: 8px;
    }

    .container-part1-footer-lang {
        height: 10px;
        width: 65px;
        padding: 5px 0px;
    }

    .container-part1-footer-lang img {
        height: 13px;
        filter: invert(1);
    }

    .container-part1-footer-box2 {
        margin-top: 4px;
    }

    .your-library {
        margin: 10px 18px;
    }

    .login {
        padding: 4px 12px;
    }

    .nav-part2 button {
        font-size: 10px;
    }

    .song-info1 {
        font-size: 10px;
    }

    .song-time {
        font-size: 12.5px;
    }

    .seekbar {
        border: 1px solid rgb(206, 204, 204);
    }

    .circle {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: white;
        position: relative;
        bottom: 7px;
    }

    .bar {
        bottom: 7px;
    }

    .playbar img {
        filter: invert(1);
        height: 17px;
    }

    .container-part2-box1 h1 {
        font-size: 17px;
    }

    .container-part2-box1 h1 {
        margin-left: 0px;
    }

    .container-part2-box1 {
        margin-top: 13px;
    }

    /* .card1 {
        width: 33.33%;
    } */

    .card1-img {
        width: 320px;
        height: 320px;
    }

    .card2-footer-h2 h2 {
        font-size: 12px;
    }

    .card2-footer-h2 {
        height: 22px;
        margin-top: 10px;
    }

    .card2-p p {
        font-size: 10px;
    }

    .card2 {
        height: 350px;
    }

    .playbar {
        height: 90px;
    }

    .nav-part2-box2 {
        gap: 6px;
    }

    .nav-part2-box1 {
        display: flex;
        gap: 9px;
    }

    .nav-part2 button {
        font-size: 11px;
    }

    .logo img {
        height: 30px;
    }

    .home img {
        height: 21px;
    }

    .your-library {
        display: flex;
        align-items: center;
        margin: 10px 20px;
    }

    .nav-part2-box1 {
        display: none;
    }

    .nav-part2 hr {
        display: none;
    }

    .nav-part2-box2 {
        gap: 13px;
    }

    .install-app {
        gap: 6px;
    }

    .search {
        display: flex;
    }

    .close {
        display: block;
        filter: invert(1);
        position: absolute;
        top: 9px;
        left: 13px;
        display: none;
    }

    nav {
        height: 65px;
    }

    .container-part2-box1 {
        display: flex;
        height: 95%;

    }


    .playbar-part1 {
        gap: 3px;
    }

    .song-time {
        width: 82px;
    }
}

@media screen and (max-width:770px) {
    .aboveBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5px
    }

    .card2 {
        width: 100%;
    }

    .card1-img {
        width: 90%;
        height: 80%;
    }

    .playbar-part1 {
        flex-direction: column;
    }

    .song-info1 {
        width: unset;
    }

    .song-time {
        width: unset;
    }

    .playbar {
        height: 100px;
    }

    .playbar {
        background-color: rgb(24 49 50);
        border-radius: 0PX;
    }

    .song-info1 {
        font-size: 9px;
    }

    .song-time {
        font-size: 11px;
        width: 65px;
    }

    .playbar img {
        filter: invert(1);
        height: 19px;
    }

    .playbar-part1 {
        gap: 3px;
    }

    .container-part1 {
        width: 100vw;
    }

    .card1 {
        cursor: pointer;
    }

    .volume input {
        width: 70px;
    }

    .volume {
        margin-right: 2px;
    }

    .play-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 14px;
        margin-top: 3px;
        gap: 4px;
    }
}

/* @media screen and (max-width:680px) {
    .logo img {
        height: 21px;
    }
    .home img {
        height: 16px;
    }
    .nav-search {
        width: 140px;
    }
    .nav-search {
        gap: 5px;
    }
    .nav-search img {
        height: 13px;
    }
    .nav-search input {
        font-size: 7px;
    }
    .nav-part2-box1 {
        gap: 4px;
    }
    .nav-part2-box1 {
        margin-right: -4px;
    }
    .nav-part2 button {
        font-size: 7px;
    }
    .nav-part2-box2 {
        gap: 5px;
    }
    .nav-part2-box2 {
        margin-left: -4px;
    }
    .install-app img {
        height: 8px;
    }
    .nav-part1 {
        margin-left: 7px;
    }
    .nav-part1 {
        gap: 6px;
    }
    .login {
        padding: 2px 8px;
    }
    nav {
        height: 45px;
    }
    .nav-search {
        padding: 3px 7px;
    }
    .your-library {
        margin: 10px 5px;
    }
    .your-library img {
        height: 18px;
    }
    .library-icon {
        font-size: 17px;
    }
    .container-part2-box1 h1 {
        font-size: 15px;
    }
} */